@import "tailwindcss";

/* Add this to your globals.css if you want to hide scrollbars while keeping functionality */
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}